{% extends 'main/base.html' %}
<!--TITULO-->
{% block title %}
Loja online - ITEMS
{% endblock %}
<!--BOLCO DO HEADER-->
{% block pageheader %}
{% endblock %}
<!--CONTEXTO-->
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Foto</th>
      <th scope="col">Preco</th>
      <th scope="col">Opcoes</th>
    </tr>
  </thead>
  <tbody>
    <!--loop para trazer todos os itens do banco de dados-->
    {% for item in items %}
    {% include 'main/include/i_modal.html' %}
    <!--Incluir o caminho para acessar o i_modal.html-->
        <tr>
          <th scope="row">{{ item.pk }}</th>
          <td>{{ item.name }}</td>
          <td>
            <img alt="image" style="width: 60px" src="{{ item.image_url }}">
            <!--Colocar imagem-->
          </td>
          <td>{{ item.price }}</td>
          <td>
            
            <button type="button" class="btn btn-outline-success" data-toggle="modal" 
            data-target="#Modal-MoreInfo{{ item.pk }}">Detalhes 
              <!-- Botao 1: data-target="#Modal-MoreInfo eu trago o id do modal do arquivo i_modal.html-->
              <!--"#Modal-MoreInfo{{ item.pk }}" usado para buscar o id-->
              Produto
            </button>
            <button type="button" class="btn btn-outline-success" data-toggle="modal"
              data-target="#Modal-PurchaseConfirm{{ item.pk }}">Comprar Produto
              <!-- Botao 2 data-target="#Modal-PurchaseConfirm eu trago o id do modal do arquivo i_modal.html-->
            </button>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}